@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-feature-settings: "rlig" 1, "calt" 1;
}

body {
  background-color: theme("colors.background");
  color: theme("colors.slate.900");
}

.dark body {
  background-color: #0f172a;
  color: #e2e8f0;
}
