@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-feature-settings: "rlig" 1, "calt" 1;
}

body {
  background-color: theme("colors.background");
}

.card-grid {
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 640px) {
  .card-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .card-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
